html{
    font-size: 16px;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
    color: white;
}

section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
}

@media only screen and (max-width: 1000px){
    section{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
        height: auto;
    }
}

/* HEADER */

header{
    position: absolute;
    color: white;
    width: 100vw;
    z-index: 100;
}

.header-background{
    width: 100vw;
    background-color: #141E27;
    opacity: 1;
    height: 10vh;
    transform: translateY(-10vh);
}

nav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    margin: 0rem auto 0 auto;
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    z-index: 50;
    color: white;
    background-color: hsl(40 10% 10% / 0.4);;
    
}

.fb-logo{
    display: inline;
    width: 4rem;
    height: auto;
    margin: 1rem 0 0 2rem;
    z-index: 50;
}

nav ul{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.8rem;
    
    margin-top: 1.5rem;
}

li{
    padding: 0.3rem 0.5rem;
    text-align: center;
}

li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


/* RUSSIAN CONSTRUCTIVISM */

#russian-constructivism{
    background-color: rgb(204, 0, 0);
    color: rgb(255, 215, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.russian-title{
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    filter:drop-shadow(2px 2px 4px black);
    margin: 10rem auto 5rem auto;
}

.intro-p{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    width: 80%;
    margin-bottom: 4rem;
    line-height: 1.4;
    
}

/* GRID */

.grid-section{
    display: grid;
    width: 90vw;
    height: 40vh;
    grid-template-columns: 3(repeat, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "proximity fate figure"
    "similarity continuity focal";
    border: 2px solid white;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

/* PROXIMITY */

.proximity{
    grid-area: proximity;
    width: 30vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.proximity:hover{
    background-color: rgb(104, 5, 5);;
}


/* FATE */

.fate{
    grid-area: fate;
    width: 30vw;
    height: 20vh;
        display: flex;
    align-items: center;
    justify-content: center;
}

.fate:hover{
    background-color: rgb(104, 5, 5);;
}

/* FIGURE-GROUND */

.figure-ground{
    grid-area: figure;
    width: 30vw;
    height: 20vh;
        display: flex;
    align-items: center;
    justify-content: center;
}

.figure-ground:hover{
    background-color: rgb(104, 5, 5);;
}

/* SIMILARITY */

.similarity{
    grid-area: similarity;
    width: 30vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.similarity:hover{
    background-color: rgb(104, 5, 5);;
}

/* CONTINUITY */

.continuity{
    grid-area: continuity;
    width: 30vw;
    height: 20vh;
        display: flex;
    align-items: center;
    justify-content: center;
}

.continuity:hover{
    background-color: rgb(104, 5, 5);;
}

/* FOCAL POINT */

.focal-point{
    grid-area: focal;
    width: 30vw;
    height: 20vh;
        display: flex;
    align-items: center;
    justify-content: center;
}

.focal-point:hover{
    background-color: rgb(104, 5, 5);;
}

article > span{
    border: 1px dashed white;
}

/* IMAGES */


.proximity2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;
}

.fate2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;
}

.figure2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;

}

.similarity2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;
}

.continuity2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;
}

.focal2{
    display: inline-block;
    width: 50%;
    height: auto;
    margin: 4rem auto 0rem auto;
}

figure{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}

.font-palette{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: auto;
    border-top: 2px solid white;
    margin: 5rem auto 3rem auto;
    padding-top: 3rem;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
}



/* FINAL PRODUCT */

.final-product{
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: white;
    
    border-top: 1px solid white;
    padding: 3rem 1.5rem 1rem 1.5rem;
    margin: 5rem auto 2rem auto;
    width: 30vw;
}

/* BUTTON */

.russian-btn{
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin: 2rem auto 4rem auto;
    padding: 0.5rem 1rem;
}

.russian-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}


/* MEDIA QUERY 700PX */



@media only screen and (max-width: 700px){


    .russian-title{
        font-family: ethnocentric, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 7vw;
        filter:drop-shadow(2px 2px 4px black);
        margin: 10rem auto 5rem auto;
    }
    
    .intro-p{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
        width: 90%;
        margin-bottom: 4rem;
        line-height: 1.4;
    }
    
    /* GRID */
    
    .grid-section{
        display: grid;
        width: 90vw;
        height: 60vh;
        grid-template-columns: 2(repeat, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "proximity fate"
        "figure similarity"
        "continuity focal";
        border: 2px solid white;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    
    /* PROXIMITY */
    
    .proximity{
        grid-area: proximity;
        width: 45vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .proximity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    
    /* FATE */
    
    .fate{
        grid-area: fate;
        width: 45vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fate:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* FIGURE-GROUND */
    
    .figure-ground{
        grid-area: figure;
        width: 45vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .figure-ground:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* SIMILARITY */
    
    .similarity{
        grid-area: similarity;
        width: 45vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .similarity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* CONTINUITY */
    
    .continuity{
        grid-area: continuity;
        width: 45vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .continuity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* FOCAL POINT */
    
    .focal-point{
        grid-area: focal;
        width: 45vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .focal-point:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    article > span{
        border: 1px dashed white;
    }
    
    /* IMAGES */
    
    
    .proximity2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .fate2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .figure2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    
    }
    
    .similarity2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .continuity2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .focal2{
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    figure{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
    }
    
    .font-palette{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        height: auto;
        border-top: 2px solid white;
        margin: 5rem auto 3rem auto;
        padding-top: 3rem;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
    }
    
    
    
    /* FINAL PRODUCT */
    
    .final-product{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: white;
        
        border-top: 1px solid white;
        padding: 3rem 1.5rem 1rem 1.5rem;
        margin: 5rem auto 2rem auto;
        width: 60vw;
    }
    
    /* BUTTON */
    
    .russian-btn{
        font-family: ethnocentric, sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1rem;
        color: white;
        background-color:#141E27;
        transition: all;
        margin: 2rem auto 4rem auto;
        padding: 0.5rem 1rem;
    }
    
    .russian-btn:hover{
        transition-duration: 1s;
        transition-delay: 0.2s;
        box-shadow: 2px 4px 4px;
        border-radius: 5px;
        color:#141E27;
        background-color: white;
        cursor: pointer;
    }


}


/* MEDIA QUERY 500PX */



@media only screen and (max-width: 500px){


    .russian-title{
        font-family: ethnocentric, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 7vw;
        filter:drop-shadow(2px 2px 4px black);
        margin: 10rem auto 5rem auto;
    }
    
    .intro-p{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
        width: 90%;
        margin-bottom: 4rem;
        line-height: 1.4;
    }
    
    /* GRID */
    
    .grid-section{
        display: grid;
        width: 90vw;
        height: 122vh;
        grid-template-columns: 1fr;
        grid-template-rows: 6(repeat, 1fr);
        grid-template-areas:
        "proximity"
        "fate"
        "figure"
        "similarity"
        "continuity"
        "focal";
        border: 2px solid white;
        justify-content: center;
        align-content: center;
        color: white;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2rem;
    }
    
    /* PROXIMITY */
    
    .proximity{
        grid-area: proximity;
        width: 90vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .proximity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    
    /* FATE */
    
    .fate{
        grid-area: fate;
        width: 90vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .fate:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* FIGURE-GROUND */
    
    .figure-ground{
        grid-area: figure;
        width: 90vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .figure-ground:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* SIMILARITY */
    
    .similarity{
        grid-area: similarity;
        width: 90vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .similarity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* CONTINUITY */
    
    .continuity{
        grid-area: continuity;
        width: 90vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .continuity:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    /* FOCAL POINT */
    
    .focal-point{
        grid-area: focal;
        width: 90vw;
        height: 20vh;
            display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .focal-point:hover{
        background-color: rgb(104, 5, 5);;
    }
    
    article > span{
        border: 1px dashed white;
    }
    
    /* IMAGES */
    
    
    .proximity2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .fate2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .figure2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    
    }
    
    .similarity2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .continuity2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    .focal2{
        display: inline-block;
        width: 60%;
        height: auto;
        margin: 4rem auto 0rem auto;
    }
    
    figure{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
    }
    
    .font-palette{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        height: auto;
        border-top: 2px solid white;
        margin: 5rem auto 3rem auto;
        padding-top: 3rem;
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        color: white;
    }
    
    
    
    /* FINAL PRODUCT */
    
    .final-product{
        font-family: forma-djr-micro, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
        color: white;
        
        border-top: 1px solid white;
        padding: 3rem 1.5rem 1rem 1.5rem;
        margin: 5rem auto 2rem auto;
        width: 60vw;
    }
    
    /* BUTTON */
    
    .russian-btn{
        font-family: ethnocentric, sans-serif;
        font-weight: 200;
        font-style: italic;
        font-size: 1rem;
        color: white;
        background-color:#141E27;
        transition: all;
        margin: 2rem auto 4rem auto;
        padding: 0.5rem 1rem;
    }
    
    .russian-btn:hover{
        transition-duration: 1s;
        transition-delay: 0.2s;
        box-shadow: 2px 4px 4px;
        border-radius: 5px;
        color:#141E27;
        background-color: white;
        cursor: pointer;
    }


}