html{
    font-size: 16px;
}

a{
    color: inherit;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

#container{
    width: 100%;
    height: 100%; 
}

section{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    height: 200vh;
}

@media only screen and (max-width: 1000px){
    section{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
        height: 200vh;
    }
}

/* HEADER */

header{
    position: absolute;
    color: white;
    width: 100vw;
    z-index: 100;
}

.header-background{
    width: 100vw;
    background-color: #141E27;
    opacity: 1;
    height: 10vh;
    transform: translateY(-10vh);
}

nav{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
    margin: 0rem auto 0 auto;
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    z-index: 50;
    color: white;
    background-color: hsl(40 10% 10% / 0.4);;
    
}

.fb-logo{
    display: inline;
    width: 4rem;
    height: auto;
    margin: 1rem 0 0 2rem;
    z-index: 50;
}

ul{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 0.8rem;
    
    margin-top: 1.5rem;
}

li{
    padding: 0.3rem 0.5rem;
    text-align: center;
}

li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


/* RUSSIAN CONSTRUCTIVISM */

#russian-constructivism{
    background-color: rgb(204, 0, 0);
    color: rgb(255, 215, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.russian-title{
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vw;
    filter:drop-shadow(2px 2px 4px black);
}

/* IMAGES */

.russian-img{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: auto;
    align-items: center;
    justify-content: space-around;
    
    margin: 0 auto;
    
    padding: 1rem 1rem;
}

.img1{
    display: inline-block;
    max-width: 10vw;
    height: auto;
    filter:drop-shadow(2px 2px 8px black);
}


/* PALETTE */ 

.palette{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 90vw;
    height: 40vh;
}

.colors{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 90vw;
    height: 40vh;
}

.red{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #c34040;
    filter:drop-shadow(2px 2px 8px black);
}

.white{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #FFF0F0;
    filter:drop-shadow(2px 2px 8px black);
}

.black{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #000000;
    filter:drop-shadow(2px 2px 8px black);
}

/* FONTS */ 

.fonts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 10vw;
    height: 40vh;
}

.font-names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    width: 90vw;
    height: 15vh;
    border: 2px solid brown;
}

.under{
    text-decoration: underline;
}


/* PARAGRAPHS */

.this-project{
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    
    border: 1px solid white;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: 80vw;
}

.fondest{
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    
    border: 1px solid white;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: 80vw;
}

.final-product{
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    
    border: 1px solid white;
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    width: 80vw;
}

/* BUTTON */

.russian-btn{
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 1rem;
    color: white;
    background-color:#141E27;
    transition: all;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}

.russian-btn:hover{
    transition-duration: 1s;
    transition-delay: 0.2s;
    box-shadow: 2px 4px 4px;
    border-radius: 5px;
    color:#141E27;
    background-color: white;
    cursor: pointer;
}